#heading{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-family: monospace;
    color: white;
    font-size: 2.5rem;
    padding: 10px 30px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(6px);
    border-radius: 8px;
}


body{
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;


}
 /* this is how we put a container to center of page  */
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    backdrop-filter: blur(5px);
    width: 100%;
    background-color: hsl(0, 0%, 100%,0.1);
}