*{
  background-color: #81fa1e;
}
#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica, sans-serif;
}
#btnContainer{
    text-align: center;

}
.buttons{
  padding: 10px,20px;
  font-size: 1.5em;
  color: white;
  background-color: #1b70e7a6;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s;
}
.buttons:hover{
    background-color: #033171a6;
}