body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #81fa1e;
    margin-top: 50px;
}

#countLabel {
    display: block;
    font-size: 8em;
}

#btnContainer {
    margin-top: 20px;
}

.buttons {
    padding: 10px 20px;
    font-size: 1.3em;
    color: white;
    background-color: #1b70e7a6;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 5px;
}

.buttons:hover {
    background-color: #033171a6;
}
