body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    margin-top: 60px;
}

button{
    padding: 12px 25px;
    font-size: 1.1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #1b70e7;
    color: white;
}

button:hover{
    background-color: #033171;
}

h3{
    margin-top: 25px;
    font-size: 1.5em;
}
