body{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: hsl(0, 0%, 90);
}

#heading{
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    color:  hsl(0, 0%,25);
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    border-radius: 250px;
    padding: 50px;
    background-color: white;
}

#display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 0%, 30%);
    text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.75);
    margin-bottom: 25px;
}
#controls button{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px,20px;
  margin: 5px;
   min-width: 25px;
   border-radius: 10px;
   border: none;
 
  cursor: pointer;
  color: white;
  transition: background-color 0.5s ease;
}
#startBtn{
    background-color: hsl(155, 95%, 40%); 
}
#startBtn:hover{
    background-color:hsl(155, 95%, 30%); 
}
#stopBtn{
    background-color: hsl(352, 94%, 40%); 
}
#stopBtn:hover{
    background-color: hsl(352, 94%, 30%);
}
#resetBtn{
    background-color: hsl(53, 93%, 40%); 
}
#resetBtn:hover{
    background-color: hsl(53, 88%, 30%); 
}